<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Acceuil</title>
</head>
<body>
	<h1>ENI-Encheres</h1>
	<h2>Liste des Encheres</h2>
	<!--<span th:text="'user:'+${#authentication.principal}"></span> -->
	<nav>
		 <a href="/NouvelleVente">Vendre
			un article</a> <a href="/profil">Mon Profil</a> <a href="/SeDeconnecter">Deconnexion</a>
	</nav>
	<form>
		<input type="search" id="maRecherche" name="filtre"
			placeholder="Le nom de l'article contient…">
		<button>Rechercher</button>
	</form>

	<label for="select-Categorie">Categorie:</label>
	<select name="Categorie" id="select-Categorie">
		<option value="">--Toutes--</option>
		<option value="informatique">Informatique</option>
		<option value="Ameublement">Ameublement</option>
		<option value="vetement">Vetement</option>
		<option value="sport/loisirs">Sport&Loisirs</option>
	</select>

	<form>
		<label for="radio">Achats</label> <input type="radio"> <input
			type="checkbox" value="achats"> <label for="achats">enchères
			ouvertes</label> <input type="checkbox" value="achats"> <label
			for="achats">mes enchères en cours</label> <input type="checkbox"
			value="achats"> <label for="achats">mes enchères
			remportées</label>
	</form>

	<form>
		<label for="radio">Mes ventes</label> <input type="radio"> <input
			type="checkbox" value="ventes"> <label for="ventes">mes
			ventes en cours</label> <input type="checkbox" value="ventes"> <label
			for="ventes">ventes non debutées</label> <input type="checkbox"
			value="ventes"> <label for="ventes">ventes terminées</label>
	</form>

	<table class="table table-hover">
		<tr data-th-each="article: ${articles}">

			<th>Nom :</th>
			<td><a
				th:href="@{/detailarticle(noArticle=${article.noArticle})}"
				data-th-text="${article.nomArticle}"></a></td>
			<th>Fin de l'enchère :</th>
			<td data-th-text="${article.dateFinEncheres}"></td>
			<th>Prix :</th>
			<td data-th-text="${article.prixInitial}"></td>
			<th>points</th>
			<!--<td data-th-text="${article.prixVente}"></td>  -->
			<th>Vendeur :</th>
			<td data-th-text="${article.vendeur.pseudo}"></td>

		</tr>
	</table>


</body>
</html>