<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ENI-Encheres</h1>
    <h2>Mon Profil</h2>
    <form action="" method="get" class="MonProfil">
        <div class="MonProfil">
          <label for="pseudo">Pseudo: </label>
          <input type="text" name="pseudo" id="pseudo" required>
        </div>
        <div class="MonProfil">
          <label for="nom">Nom: </label>
          <input type="text" name="nom" id="nom" required>
        </div>
        <div class="MonProfil">
            <label for="prenom">Prenom: </label>
            <input type="text" name="prenom" id="prenom" required>
          </div>
          <div class="MonProfil">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required>
          </div>
          <div class="MonProfil">
            <label for="tel">Telephone: </label>
            <input type="tel" name="tel" id="tel" required>
          </div>
          <div class="MonProfil">
            <label for="rue">Rue: </label>
            <input type="text" name="rue" id="rue" required>
          </div>
          <div class="MonProfil">
            <label for="CP">Code postal: </label>
            <input type="text" name="CP" id="CP" required>
          </div>
          <div class="MonProfil">
            <label for="ville">Ville: </label>
            <input type="text" name="ville" id="ville" required>
          </div>
          <div class="MonProfil">
            <label for="mdp">Mot de passe </label>
            <input type="password" name="mdp" id="mdp" required>
          </div>
          <div class="MonProfil">
            <label for="mdpConfirm">Confirmation: </label>
            <input type="password" name="mdpConfirm" id="mdpConfirm" required>
          </div>
        <div class="MonProfil">
          <input type="submit" value="Créer">
          <input type="submit" value="Annuler">
        </div>
      </form>
</body>
</html>