<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vente</title>
</head>
<body>
	<h1>ENI-Encheres</h1>
	<h2>Nouvelle vente</h2>


	<div class="NouvelleVente">

		<form action="/ajouterVente" th:object="${article}" method="post"
			enctype="multipart/form-data">

			<div class="article">
				<label for="nomArticle">Article :</label> <input type="text"
					th:field="*{nomArticle}" id="article" name="article"
					placeholder="Nom de l'article" required>
			</div>

			<div class="article">
				<label for="description">Description :</label> <input type="text"
					th:field="*{description}" id="description" name="description"
					placeholder="Décrivez l'article mis en vente" required>
			</div>

			<div class="article">
				<label for="select-Categorie">Categorie:</label> <select
					th:field="*{categorie}" name="categorie" id="select-Categorie"
					required>
					<option th:each="categorie: ${@categorieService.ListCategorie}"
						th:value="${categorie.noCategorie}" th:text="${categorie.libelle}"></option>
				</select>
			</div>

			<div>
				<label for="photo">Photo de l'article :</label> <input type="file"
					id="photo" name="photo">
			</div>

			<div class="article">
				<label for="miseaprix">Mise à prix :</label> <input type="text"
					th:field="*{prixInitial}" id="miseaprix" name="miseaprix"
					placeholder="Prix de départ en €" required>
			</div>
			<div class="article">
				<label for="debutenchere">Début de l'enchère :</label> <input
					type="date" th:field="*{dateDebutEncheres}" id="debutenchere"
					name="debutenchere" placeholder="Date de début de l'enchère"
					required>
			</div>
			<div>
				<label for="finenchere">Fin de l'enchère :</label> <input
					type="date" th:field="*{dateFinEncheres}" id="finenchere"
					name="finenchere" placeholder="Date de fin de l'enchère" required>
			</div>
			<div>
				<h3>Retrait :</h3>
				<div>
					<label for="codepostal">Rue :</label> <input type="text"
						id="codepostal" name="codepostal" placeholder="Votre code postal"
						required>
				</div>
				<div>
					<label for="codepostal">Code postal :</label> <input type="text"
						id="codepostal" name="codepostal" placeholder="Votre code postal"
						required>
				</div>
				<div>
					<label for="ville">Ville :</label> <input type="text" id="ville"
						name="ville" placeholder="Votre ville" required>
				</div>
			</div>
			<div>
				<button type="submit">Enregistrer</button>
				<button type="reset">Annuler</button>
			</div>


		</form>
	</div>
	
	<a th:href="@{Acceuil}">Revenir à l'accueil</a>
</body>
</html>